<div class="mt-7">
    <div class="opacity-75 h-96 w-full bg-cover bg-center relative">
      <img src="https://images.pexels.com/photos/9858904/pexels-photo-9858904.jpeg" class="w-full h-full object-cover absolute mix-blend-overlay" alt="">
      <div class="p-24">
        <h1 class="text-5xl font-bold text-center text-black">Let's Custom Your Stamp</h1>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a class="z-0 rounded outline outline-2 outline-offset-0 outline-pink-800 px-3 py-2 font-semibold text-black shadow-sm hover:text-gray-100 hover:bg-sky-700 hover:outline-none uppercase">Custom</a>
        </div>
      </div>
    </div>
</div>

  
  